<%= simple_form_for [cloth, booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs p-1">
    <div class="date-card m-1">
      <div class="date-type">
        <span>Starts from</span>
      </div>
      <div class="date-value">
        <%= f.date_select :start_date %>
      </div>
    </div>

    <div class="date-card m-1">
      <div class="date-type">
        <span>To</span>
      </div>
      <div class="date-value">
        <%= f.date_select :end_date %>
      </div>
    </div>
  </div>

  <div class="form-actions p-2">
    <%= f.submit "Confirm", class: "btn btn-secondary" %>
  </div>
<% end %>
