<div class="card-cloth d-flex flex-column">

  <div class="card-image">
    <%= cl_image_tag @booking.cloth.photos.first.key, :transformation => {:width => 400, :height => 400, :crop => "pad", :radius => 25} %>
  </div>

  <div class="card-cloth-info d-flex flex-column">
    <h2 id="cloth-title"><%= @booking.cloth.title %></h2>
    <p><%= @booking.rent_duration %> days, $<%= @booking.total_cost %> in total</p>
    <div class="d-inline-flex justify-content-center">
      <%= link_to "Edit", edit_cloth_booking_path(@booking.cloth, @booking), class: "btn" if @booking.rent_approved == false %>
      <%= link_to "Cancel",
          booking_path(@booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" if @booking.rent_approved == false %>
      <% if @booking.review.present? %>
        <%= link_to "Update review", edit_booking_review_path(@booking, @booking.review), class: "btn" if @booking.rent_approved == true %>
        <%# <%= link_to "Delete review", review_path(@booking.review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" if @booking.rent_approved == true %>
      <% else %>
        <%= link_to "Leave a review", new_booking_review_path(@booking), class: "btn" if @booking.rent_approved == true %>
      <% end %>
    </div>
  </div>

</div>
