<div class="card-cloth">
  <%= link_to cloth_path(@booking.cloth) do %>
    <div class="card-image">
      <%= cl_image_tag @booking.cloth.photos.first.key, :transformation => {:width => 200, :height => 200, :crop => "lfill"} %>
      <%= content_tag(:h4, "Pending approval",  class: "card-image shadow") if @booking.rent_approved == false && @booking.cloth.rented == false %>
      <%= content_tag(:h4, "Approved",  class: "card-image shadow") if @booking.rent_approved %>
    </div>

    <div class="card-cloth-info">
      <div class="cloth-title">
        <p id="cloth-title"><%= @booking.cloth.title %></p>
      </div>
      <div class="cloth-description">
        <p id="cloth-description"><%= @booking.start_date.strftime("%d %b, %Y") %> to <%= @booking.end_date.strftime("%d %b, %Y") %> $<%= @booking.total_cost %> in total</p>
      </div>

      <div class="d-inline-flex justify-content-center">
        <%= link_to "Edit", edit_cloth_booking_path(@booking.cloth, @booking), class: "btn" if @booking.rent_approved == false && @booking.cloth.rented == false %>
        <%= link_to "Cancel",
            booking_path(@booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" if @booking.rent_approved == false %>
        <% if @booking.review.present? %>
          <%= link_to "Update review", edit_booking_review_path(@booking, @booking.review), class: "btn" if @booking.rent_approved %>
          <%# <%= link_to "Delete review", review_path(@booking.review),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn" if @booking.rent_approved == true %>
        <% else %>
          <%= link_to "Leave a review", new_booking_review_path(@booking), class: "btn" if @booking.rent_approved %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
