<div class="card-cloth d-flex flex-column">
  <%= link_to cloth_path(@cloth) do %>
    <%# <%= cl_image_tag @cloth.photos.first.key, :transformation => {:dpr => "auto", :responsive => true, :width => "auto", :crop => "limit"} %>
    <div class="card-image">
      <%= cl_image_tag @cloth.photos.first.key, :transformation => {:width => 400, :height => 400, :crop => "pad", :radius => 25} %>
    </div>
    <div class="card-cloth-info d-flex flex-column">
      <h2 id="cloth-title"><%= @cloth.title %> <%= content_tag(:span, "Rented",  class: "badge badge-pill badge-success") if @cloth.rented %></h2>
      <p id="cloth-description"><%= @cloth.description %></p>
      <p id= "cloth-price">$<%= @cloth.price %>/day</p>
    </div>
  <% end %>
  <%# To add bookmark button after bookmark controller is done as need to do if else to show bookmarked already or not %>
  <% bookmark = @cloth.bookmarks.find_by(user_id: current_user.id) %>
  <%= render partial: "cloths/bookmark_link", locals: {cloth: @cloth, bookmark: bookmark} %>
</div>
