<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <p class="mb-0"><b>wardrobe</b></p>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Suits", "/cloths?search_outfits=suits", method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Office", "/cloths?search_outfits=office", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Post your closet", "/cloths/new", class: "nav-link text-danger" %>
          </li>

      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item mr-3 align-middle pt-2" title="Bookmarks">
            <%= link_to ('<i class="fa-regular fa-heart fa-xl"></i>').html_safe, bookmarks_path  %>
          </li>
          <li class="nav-item mr-3 align-middle pt-2">
            <%= link_to ('<i class="fa-solid fa-magnifying-glass fa-xl"></i>').html_safe, cloths_path  %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://source.unsplash.com/random/100x100", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My closet", mycloset_path, class: "dropdown-item" %>
              <%= link_to "My records", bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item mr-3">
            <%= link_to ('<i class="fa-solid fa-magnifying-glass fa-xl"></i>').html_safe, cloths_path  %>
          </li>
          <li class="nav-item">
            <%= link_to ('<i class="fa-solid fa-user fa-xl"></i>').html_safe, new_user_session_path  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
