<div>
  <%= simple_form_for (@cloth) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :category, collection: ["Suits", "Office", "Sports", "Dress", "Casual", "Costume", "Gown", "Bags", "Other"] %>
      <%= f.input :color %>
      <%= f.input :size, collection: ["XS", "S", "M", "L", "XL", "XXL"] %>
      <%= f.input :brand %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <% if @cloth.photos.present? %>
        <% @cloth.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 100, height: 100, crop: :fill %>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Post your closet!' %>
    </div>
  <% end %>
</div>
