<div class="container">
  <div class="column">
    <img src="https://d2uxsly3gwvlvo.cloudfront.net/uploads/photo/image/43295/IMG_9264.png">
  </div>

  <div class="column">
    <div class="row">
      <h2><%= @cloth.title %></h2>
      <p><%= @cloth.description %></p>
    </div>

    <div class="row">
      <div class="detail-avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" alt="Avatar">
        <p>by <%= @cloth.user.username %></p>
      </div>
    </div>

    <div class="row">
      <div class="detail-card">
        <div class="detail-type">
          <span>Brand</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.brand %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Color</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.color %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Size</span>
        </div>
        <div class="detail-value">
          <span><%=  %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Category</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.category %></span>
        </div>
      </div>
    </div>

    <div class="row booking">
      <h3>$<%= @cloth.price %>/day</h3>
      <%= render "bookingform", cloth: @cloth %>
    </div>


  </div>
</div>
