<div class="container">
  <div class="column">
    <div class="row">
      <div class="product-img">
        <%= cl_image_tag @cloth.photos.first.key %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <h2><%= @cloth.title %></h2>
      <p><%= @cloth.description %></p>
    </div>

    <div class="row">
      <div class="detail-avatar">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar" alt="Avatar">
        <p>by <%= @cloth.user.username %></p>
      </div>
    </div>

    <div class="row">
      <div class="detail-card">
        <div class="detail-type">
          <span>Brand</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.brand %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Color</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.color %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Size</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.size %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Category</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.category %></span>
        </div>
      </div>
    </div>

    <div class="row booking">
      <h3>$<%= @cloth.price %>/day</h3>
      <%= render "dateform", cloth: @cloth %>
    </div>
    <div>
      <%= link_to 'Edit this cloth', edit_cloth_path(@cloth), class: "btn btn-ghost" if policy(@cloth).edit? %>
      <%= link_to 'Rent this cloth', new_cloth_booking_path(@cloth), class: "btn btn-ghost" if @rentee %>
    </div>
  </div>
</div>

<hr>

<div class="most-wishlisted text-center p-3 bg-light pb-0 m-0">  <h3 class="m-0"><b>More from <%= @cloth.user.username %></b></h3>
    <%# <% @cloths.each do |cloth| %> %>
    <%# <% @cloth = cloth %> %>
    <%# <div class="d-inline-flex justify-content-between"> %>
      <%# <%= render "shared/card-cloth", object: @cloth %> %>
    <%# </div> %>
  <%# <% end %> %>
</div>
