<div class="container">
  <div class="column">
    <div class="row">
      <div class="product-img">
        <%= cl_image_tag @cloth.photos.first.key %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <h2><%= @cloth.title %> <%= content_tag(:span, "Rented",  class: "badge badge-pill badge-success") if @cloth.rented %></h2>
      <p><%= @cloth.description %></p>
    </div>

    <div class="row">
      <div class="detail-avatar">
        <img src="https://source.unsplash.com/random/100x100" class="avatar" alt="Avatar">
        <p>by <%= @cloth.user.username %></p>
      </div>
    </div>

    <div class="row">
      <div class="detail-card">
        <div class="detail-type">
          <span>Brand</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.brand %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Color</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.color %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Size</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.size %></span>
        </div>
      </div>
      <div class="detail-card">
        <div class="detail-type">
          <span>Category</span>
        </div>
        <div class="detail-value">
          <span><%= @cloth.category %></span>
        </div>
      </div>
    </div>

    <div class="row booking">
      <h3>$<%= @cloth.price %>/day</h3>
      <div class="date-card">
        <div class="date-type">
          <span>Available Period</span>
        </div>
        <div class="date-value">
          <p>From <%= @cloth.start_date.strftime("%d %b, %Y") %> to <%= @cloth.end_date.strftime("%d %b, %Y") %></p>
        </div>
      </div>
    </div>
    <div>
      <%= link_to 'Edit this cloth', edit_cloth_path(@cloth), class: "btn btn-ghost" if policy(@cloth).edit? && @cloth.rented == false %>
      <%= link_to 'Delete this cloth', cloth_path(@cloth), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-ghost" if policy(@cloth).destroy? && @cloth.rented == false %>
      <%= link_to 'Rent this cloth', new_cloth_booking_path(@cloth), class: "btn btn-ghost" if @rentee && @cloth.rented == false %>
    </div>
  </div>
</div>

 <hr style="width:80%; margin-left:10% !important; margin-right:10% !important;" />
<div class="cloth-reviews h-100">
  <h3 class="text-center"><b>Hear from others</b></h3>
  <% @cloth.bookings.each do |booking| %>
    <% if booking.review.nil? %>
      <p class='text-center'>No reviews yet</p>
    <% else %>
      <div class="card-review container d-flex">
          <b><%= booking.rentee.username %></b>comments:<br>
          <%= booking.review.comments %><br>
          <% booking.review.rating.to_int.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
      </div>
    <% end %>
  <% end %>
</div>

 <hr style="width:80%; margin-left:10% !important; margin-right:10% !important;" />

<div class="most-wishlisted text-center p-3 bg-light pb-0 m-0">  <h3 class="m-0"><b>More from <%= @cloth.user.username %></b></h3>
    <% @cloths.each do |cloth| %>
    <% @cloth = cloth %>
    <div class="d-inline-flex justify-content-between">
      <%= render "shared/card-cloth", object: @cloth %>
    </div>
  <% end %>

</div>
