<h1><%= @cloth.title %></h1>

<p><%= @cloth.description %></p>
<p>Brand: <%= @cloth.brand %></p>
<p>Color: <%= @cloth.color %></p>

<p><%= link_to "Edit", edit_cloth_path %></p>

<%= button_to "Delete", @cloth, method: :delete %>

<p><%= link_to "Back", cloths_path %></p>
